<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jason.mapper.BillMapper">
    <!--商品名称（模糊查询）
        供应商（供应商id）
        是否付款

    查询结果列显示：订单编码、商品名称、供应商名称、账单金额、是否付款、创建时间
-->
    <resultMap id="BillResultMap" type="cn.jason.pojo.Bill">
        <id property="id" column="id"/>
        <result property="productName" column="productName"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="isPayment" column="isPayment"/>
        <result property="creationDate" column="creationDate"/>
        <association property="provider" javaType="cn.jason.pojo.Provider">
            <id property="id" column="proId"/>
            <result property="proName" column="proName"/>
        </association>
    </resultMap>
    <select id="getProducts" resultMap="BillResultMap">
        select bill.id,bill.productName,provider.proName,bill.totalPrice,bill.isPayment,bill.creationDate from smbms_bill bill,smbms_provider provider where bill.providerId=provider.id
        and bill.productName like concat('%',#{productName},'%')
        and bill.providerId=#{providerId}
        and bill.isPayment=#{isPayment}
    </select>
    <delete id="deleteBill" parameterType="int">
        delete  from smbms_bill where id=#{id}
    </delete>
    <select id="findProduct" resultType="bill">
        SELECT  * from smbms_bill
    </select>
</mapper>
